<% include ../partials/header %>
<header class="jumbotron">
        <div class=container>
            <h3>How to make a course?</h3>
            <p><em>“The one exclusive sign of thorough knowledge is the power of teaching.” </em></p>
            <p>
               <a href="/courses/new" class="btn btn-primary btn-lg"> Add new course</a>
            </p>
        </div>
 </header>

<h3> All you need to do is follow these simple steps: </h3>
<ol class="tutorial">
	<li>First you need to download and install a screen recorder software(<a href="https://www.techradar.com/reviews/obs-studio">OBS</a>, <a href="https://www.flashbackrecorder.com/express/">FlashBack Express</a>, <a href="https://camtasia-studio.en.softonic.com">Camtasia</a>)</li>
	<li>Record your lesson</li>
	<li>Go to <a href="https://wistia.com">https://wistia.com</a> and create a playlist with your course</li>
	<li>Grab the playlist id <img src="https://i.gyazo.com/78fc714e3f480a4e74cf607df53a0a76.png">and add it into our submision form </li>
	<li>Good luck!</li>
</ol>
 

<% include ../partials/footer %>